.card
  .card-header.d-flex.align-items-center
    %span About Us

  .row
    .col-md-6
      %h2 Our Story
      %p
        Welcome to DigniSpace! We are a passionate team dedicated to providing dedicated care to the young persons who suffer from emotional issues.
     

   